# Homework 1

## Part 1

### 1.1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("crime_data.csv", delimiter=",")
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000

### 1.2

- Count missing values
- Drop columns
- print head

In [3]:
missing_counts = df.isnull().sum()

threshold = len(df) * 0.5
df_cleaned = df.dropna(thresh=threshold, axis=1)

df_cleaned.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,M,O,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,F,W,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,F,O,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,F,B,503.0,HOTEL,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,...,X,X,412.0,"ELECTRONICS STORE (IE:RADIO SHACK, ETC.)",IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000

### 1.3

- Convert DATE OCC to dateTime
- Extract year, month, day
- Create hour Timee OCC

In [4]:
df_cleaned['DATE OCC'] = pd.to_datetime(df_cleaned['DATE OCC'], format="%m/%d/%Y %I:%M:%S %p")

df_cleaned['Year'] = df_cleaned['DATE OCC'].dt.year
df_cleaned['Month'] = df_cleaned['DATE OCC'].dt.month
df_cleaned['Day'] = df_cleaned['DATE OCC'].dt.day

df_cleaned['Hour'] = df_cleaned['TIME OCC'].astype(str).str.zfill(4).str[:2].astype(int)

print(df_cleaned[['DATE OCC', 'TIME OCC', 'Year', 'Month', 'Day', 'Hour']].head())

    DATE OCC  TIME OCC  Year  Month  Day  Hour
0 2024-08-01      1319  2024      8    1    13
1 2023-09-15      1930  2023      9   15    19
2 2023-06-26      1230  2023      6   26    12
3 2021-04-25      2330  2021      4   25    23
4 2021-10-25      1455  2021     10   25    14

C:\Users\budag\AppData\Local\Temp\ipykernel_5820\3780802741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['DATE OCC'] = pd.to_datetime(df_cleaned['DATE OCC'], format="%m/%d/%Y %I:%M:%S %p")
C:\Users\budag\AppData\Local\Temp\ipykernel_5820\3780802741.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Year'] = df_cleaned['DATE OCC'].dt.year
C:\Users\budag\AppData\Local\Temp\ipykernel_5820\3780802741.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Month'] = df_cleaned['DATE OCC'].dt.month
C:\Users\budag\AppData\Local\Temp\ipykernel_5820\3780802741.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Day'] = df_cleaned['DATE OCC'].dt.day
C:\Users\budag\AppData\Local\Temp\ipykernel_5820\3780802741.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Hour'] = df_cleaned['TIME OCC'].astype(str).str.zfill(4).str[:2].astype(int)

### 1.4

- Filter 2023
- Filter bulglaries
  
<em> NOTE: I put the filtered data into new dataframe because I believe Part 2 expects clean data without filtration </em>

In [5]:
df_filtered = df_cleaned[df_cleaned['Year'] == 2023]

df_filtered = df_filtered[df_filtered['Crm Cd Desc'].str.contains("BURGLARY", case=False, na=False)]

print(df_filtered["Crm Cd Desc"].head())

47                  BURGLARY
53     BURGLARY FROM VEHICLE
130    BURGLARY FROM VEHICLE
147                 BURGLARY
158    BURGLARY FROM VEHICLE
Name: Crm Cd Desc, dtype: object

### 1.5

In [15]:
crime_summary = df_filtered.groupby('AREA NAME').agg(
    Total_Crimes=('DR_NO', 'count'),
    Avg_Victim_Age=('Vict Age', 'mean')
).reset_index()

crime_summary.columns = ['AREA NAME', 'Total Crimes', 'Avg Victim Age']
crime_summary = crime_summary.sort_values(by='Total Crimes', ascending=False)

print(crime_summary)

      AREA NAME  Total Crimes  Avg Victim Age
1       Central           146       32.808219
18      West LA           107       40.196262
11      Olympic            96       32.677083
20     Wilshire            90       38.222222
2    Devonshire            88       42.375000
19  West Valley            87       36.149425
8   N Hollywood            84       33.369048
12      Pacific            77       29.233766
17     Van Nuys            69       40.101449
10    Northeast            65       30.538462
15    Southwest            61       35.573770
9        Newton            59       29.220339
6     Hollywood            55       30.418182
13      Rampart            54       28.888889
16      Topanga            52       42.076923
0   77th Street            51       36.725490
4        Harbor            39       28.538462
3      Foothill            33       36.575758
14    Southeast            33       40.848485
5    Hollenbeck            29       20.172414
7       Mission            29       38.448276

## Part 2

### 2.1

- count values in Crm Cd Desc
- get top 3

In [7]:
top_3_crimes = df_cleaned['Crm Cd Desc'].value_counts().head(3)
print(top_3_crimes)

Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: count, dtype: int64

### 2.2

- Group by hour
- count number of crimes

In [8]:
crimes_by_hour = df_cleaned.groupby('Hour').size().reset_index(name='Crime Count')
print(crimes_by_hour)

    Hour  Crime Count
0      0         2025
1      1         1490
2      2         1241
3      3         1063
4      4          975
5      5          848
6      6         1106
7      7         1302
8      8         1776
9      9         1841
10    10         2110
11    11         2114
12    12         3446
13    13         2246
14    14         2504
15    15         2667
16    16         2597
17    17         2914
18    18         3015
19    19         2762
20    20         2830
21    21         2553
22    22         2469
23    23         2106

### 2.3

- Group by Vict Sex
- count total crimes
- count average victim age

In [9]:
crime_summary_sex = df_cleaned.groupby('Vict Sex').agg(
    Total_Crimes=('DR_NO', 'count'),
    Avg_Victim_Age=('Vict Age', 'mean')
).reset_index()

crime_summary.columns = ['AREA NAME', 'Total Crimes', 'Avg Victim Age']

print(crime_summary_sex)

  Vict Sex  Total_Crimes  Avg_Victim_Age
0        F         17922       38.164156
1        H             3       36.333333
2        M         20076       37.165621
3        X          4836        2.672043

## Part 4

Define function for scoring

<em> NOTE: I have assumed that if a crime is burglary with a weapon score is 5 (based on the task description) </em>

In [10]:
def assign_severity(row):
    score = 1  
    if pd.notnull(row['Weapon Used Cd']):
        score = 5  
    elif 'BURGLARY' in row['Crm Cd Desc']:
        score = 3  
    return score

Apply the function 
<em> NOTE: Using original Dataframe because cleaned df does not have the 'Weapon Used Cd' column </em>

In [11]:
df['Severity Score'] = df.apply(assign_severity, axis=1)

Count the sum of the score for each area

In [12]:
severity_by_area = df.groupby('AREA NAME').agg(
    Total_Severity_Score=('Severity Score', 'sum')
).reset_index()

print(severity_by_area)

      AREA NAME  Total_Severity_Score
0   77th Street                  9439
1       Central                  9513
2    Devonshire                  4703
3      Foothill                  3969
4        Harbor                  5096
5    Hollenbeck                  4615
6     Hollywood                  6950
7       Mission                  4665
8   N Hollywood                  5789
9        Newton                  7047
10    Northeast                  4789
11      Olympic                  6605
12      Pacific                  6830
13      Rampart                  6478
14    Southeast                  7283
15    Southwest                  7241
16      Topanga                  4724
17     Van Nuys                  5028
18      West LA                  5005
19  West Valley                  5286
20     Wilshire                  5563

### Bonus

filter based on Lat and Lon

<em> NOTE: I took arbitrary values for the box </em>

In [13]:
min_lat = 34
max_lat = 34.25 
min_lon = -118.75
max_lon = -118.50

crimes_filtered = df_cleaned[
    (df_cleaned['LAT'] >= min_lat) & (df_cleaned['LAT'] <= max_lat) &
    (df_cleaned['LON'] >= min_lon) & (df_cleaned['LON'] <= max_lon)
]

print(crimes_filtered)

           DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
0      241711715  08/01/2024 12:00:00 AM 2024-08-01      1319    17
1      231014031  09/21/2023 12:00:00 AM 2023-09-15      1930    10
2      231010808  06/27/2023 12:00:00 AM 2023-06-26      1230    10
17     201710780  07/05/2020 12:00:00 AM 2020-07-05      1120    17
41     241708301  04/13/2024 12:00:00 AM 2023-10-30      2130    17
...          ...                     ...        ...       ...   ...
49918  201011114  07/18/2020 12:00:00 AM 2020-07-18      1200    10
49919  211004241  01/09/2021 12:00:00 AM 2021-01-06      1600    10
49961  201709510  05/28/2020 12:00:00 AM 2020-05-28       600    17
49977  202115969  11/14/2020 12:00:00 AM 2020-11-14      1345    21
49992  202110106  06/02/2020 12:00:00 AM 2020-05-29      1600    21

         AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0       Devonshire         1791         1     440
1      West Valley         1011         2     354
2      West Valley         1015         2     354
17      Devonshire         1794         2     625
41      Devonshire         1782         1     445
...            ...          ...       ...     ...
49918  West Valley         1047         1     350
49919  West Valley         1001         1     510
49961   Devonshire         1783         1     510
49977      Topanga         2146         2     930
49992      Topanga         2136         1     330

                                  Crm Cd Desc  ... Status   Status Desc  \
0          THEFT PLAIN - PETTY ($950 & UNDER)  ...     IC   Invest Cont
1                           THEFT OF IDENTITY  ...     IC   Invest Cont
2                           THEFT OF IDENTITY  ...     IC   Invest Cont
17                              OTHER ASSAULT  ...     IC   Invest Cont
41         DISHONEST EMPLOYEE ATTEMPTED THEFT  ...     IC   Invest Cont
...                                       ...  ...    ...           ...
49918                           THEFT, PERSON  ...     AO   Adult Other
49919                        VEHICLE - STOLEN  ...     IC   Invest Cont
49961                        VEHICLE - STOLEN  ...     IC   Invest Cont
49977  CRIMINAL THREATS - NO WEAPON DISPLAYED  ...     AA  Adult Arrest
49992                   BURGLARY FROM VEHICLE  ...     IC   Invest Cont

      Crm Cd 1                                  LOCATION      LAT       LON  \
0        440.0   8300    KELVIN                       AV  34.2200 -118.5863
1        354.0  18900    CANTLAY                      ST  34.2023 -118.5458
2        354.0   7300    ENFIELD                      AV  34.2033 -118.5241
17       625.0   8300    RESEDA                       BL  34.2208 -118.5361
41       445.0   8800    CORBIN                       AV  34.2302 -118.5623
...        ...                                       ...      ...       ...
49918    350.0   5900    BALBOA                       BL  34.1773 -118.5013
49919    510.0   7700    TAMPA                        AV  34.2102 -118.5535
49961    510.0   9000    VANALDEN                     AV  34.2341 -118.5493
49977    930.0  21500    BASSETT                      ST  34.1956 -118.6003
49992    330.0   7200    OWENSMOUTH                   AV  34.2010 -118.6016

       Year Month  Day Hour
0      2024     8    1   13
1      2023     9   15   19
2      2023     6   26   12
17     2020     7    5   11
41     2023    10   30   21
...     ...   ...  ...  ...
49918  2020     7   18   12
49919  2021     1    6   16
49961  2020     5   28    6
49977  2020    11   14   13
49992  2020     5   29   16

[4750 rows x 26 columns]

# Export cleaned dataset

In [14]:
df_cleaned.to_csv('cleaned_crime_data_py.csv', index=False)